/* Header */

.btn {
    margin: auto;
    display: flex;
    width: 100%;
    height: 60%;
    border: 1px solid black;
    background-color: #7D1EFA;
    align-items: center;
    justify-content: center;
    color: white;
}
body {
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: repeat(33, 1fr);
    background-color: #FAA637;
    height: 70px;
}
h1 {
    margin: 0;
    font-size: 40px;
}
.headerH1 {
    grid-column: 6 / 11;
    margin: auto;
}
.firstInHeader {
    grid-column: 22 / 26;
}
.secondInHeader {
    grid-column: 28 / 32;
}

/* For all */

h2 {
    font-size: 20px;
    text-align: center;
}

/* Profile */

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.addNewRecord {
    grid-column: 3 / 4;
}
.recordsTable {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
    row-gap: 10px;
    padding: 10px 10% 10px 10%;
}
.recordsTable>h3 {
    grid-column: 1 / 3;
    text-align: center;
}
.record {
    border: 1px solid black;
    padding: 10px;
}
.record>h4 {
    text-align: center;
}
.recordGroups {
    grid-column: 1 / 4;
}
.recordsTable>h4 {
    grid-column: 1 / 3;
    text-align: center;
}